body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#_bg__desktop___5 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 4050px;
	background:rgba(255,255,255,1);
}

#desktop___4 {
	top: 3240px;
	left: 0px;
	width: 1440px;
	height: 810px;
}

#whitebgpizza_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_7 {
	top: 245px;
	left: 41px;
	width: 412px;
	height: 123px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_8 {
	top: 443px;
	left: 41px;
	width: 592px;
	height: 308px;
}


#line_7 {
	top: 405px;
	left: 30px;
	width: 611.04px;
	height: 1px;
	background:#000000;
}


#rectangle_18 {
	top: 245px;
	left: 41px;
	width: 408px;
	height: 120px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0);
}


#rectangle_20 {
	top: 443px;
	left: 41px;
	width: 589px;
	height: 304px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0);
}

body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#_bg__desktop___5 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 4050px;
	background:rgba(255,255,255,1);
}

#desktop___4 {
	top: 3240px;
	left: 0px;
	width: 1440px;
	height: 810px;
}

#whitebgpizza_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_7 {
	top: 245px;
	left: 41px;
	width: 412px;
	height: 123px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_8 {
	top: 443px;
	left: 41px;
	width: 592px;
	height: 308px;
}


#line_7 {
	top: 405px;
	left: 30px;
	width: 611.04px;
	height: 1px;
	background:#000000;
}


#rectangle_18 {
	top: 245px;
	left: 41px;
	width: 408px;
	height: 120px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0);
}


#rectangle_20 {
	top: 443px;
	left: 41px;
	width: 589px;
	height: 304px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0);
}

#vector_ek15 {
	top: 11px;
	left: 0px;
	width: 30px;
	height: 18.7px;
}


#vector_ek16 {
	top: 18px;
	left: 1px;
	width: 28.15px;
	height: 11.66px;
}


#vector_ek17 {
	top: 18px;
	left: 0px;
	width: 29.28px;
	height: 12.04px;
}

#group_ek4 {
	top: 669px;
	left: 97px;
	width: 30px;
	height: 30px;
}

#vector_ek18 {
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
}

#group_ek5 {
	top: 9px;
	left: 7px;
	width: 17.48px;
	height: 14.2px;
}

#vector_ek19 {
	top: 0px;
	left: 0px;
	width: 17.48px;
	height: 14.2px;
}

#group_ek6 {
	top: 476px;
	left: 250px;
	width: 30.67px;
	height: 33.83px;
}

#vector_ek20 {
	top: 0px;
	left: 0px;
	width: 30.67px;
	height: 33.83px;
}


#help_desk {
	top: 476px;
	left: 341px;
	width: 124px;
	height: 48px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color:#000000;
	font-weight: bold;
}


#line_9 {
	top: 515px;
	left: 296px;
	width: 285.02px;
	height: 1px;
	background:#000000;
}

#group_ek7 {
	top: 555px;
	left: 382px;
	width: 18px;
	height: 17.95px;
}
#group_ek8 {
	top: 0px;
	left: 0px;
	width: 18px;
	height: 17.95px;
}

#vector_ek21 {
	top: 4px;
	left: 6px;
	width: 6.73px;
	height: 12.88px;
}


#vector_ek22 {
	top: 0px;
	left: 8px;
	width: 2.91px;
	height: 3.49px;
}


#vector_ek23 {
	top: 14px;
	left: 5px;
	width: 7.85px;
	height: 4.19px;
}


#vector_ek24 {
	top: 15px;
	left: 14px;
	width: 4.47px;
	height: 2.21px;
}


#vector_ek25 {
	top: 15px;
	left: 0px;
	width: 4.47px;
	height: 2.21px;
}

#headquarters___kilimani_area__jabavu_gardens_along_rose_avenue__nairobi__branches___capital_center__mombasa_rd__nairobi__mombasa__nyali_centre_ {
	top: 578px;
	left: 260px;
	width: 278px;
	height: 127px;
	overflow: visible;
	font-family: Barlow;
	font-size: 15px;
	text-align: center;
	color:#000000;
}

#gps {
	top: 618px;
	left: 455px;
	width: 8px;
	height: 13.65px;
}

#vector_ek26 {
	top: 0px;
	left: 0px;
	width: 8px;
	height: 11.95px;
}


#vector_ek27 {
	top: 13px;
	left: 2px;
	width: 3.86px;
	height: 0.78px;
}


#location {
	top: 530px;
	left: 310px;
	width: 166px;
	height: 41.5px;
	overflow: hidden;
	font-family: Barlow;
	font-size: 15px;
	text-align: center;
	color:#000000;
	font-weight: bold;
}


#vickie_shiraa_2021 {
	top: 764px;
	left: 650px;
	width: 144px;
	height: 55.5px;
	overflow: hidden;
	font-family: Barlow;
	font-size: 15px;
	text-align: center;
	color:#000000;
}

#desktop___3 {
	top: 2430px;
	left: -1px;
	width: 1440px;
	height: 810px;
}
#fort {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}

#pizzabg_3 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_5 {
	top: 209px;
	left: 881px;
	width: 475px;
	height: 572px;
}

#fort_input_ {
	top: 209px;
	left: 69px;
	width: 733px;
	height: 500px;
}

#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_5_ek1 {
	top: 0px;
	left: 0px;
	width: 733px;
	height: 500px;
}


#line_6 {
	top: 27px;
	left: 301px;
	width: 106.5px;
	height: 20.74px;
}


#line_5 {
	top: 27px;
	left: 212px;
	width: 106.5px;
	height: 20.74px;
}

#group_ek9 {
	top: 97px;
	left: 63px;
	width: 71px;
	height: 64.98px;
}

#vector_ek28 {
	top: 12px;
	left: 28px;
	width: 5.03px;
	height: 14.95px;
}


#vector_ek29 {
	top: 12px;
	left: 15px;
	width: 5.03px;
	height: 14.95px;
}


#vector_ek30 {
	top: 9px;
	left: 22px;
	width: 5.03px;
	height: 14.95px;
}


#vector_ek31 {
	top: 0px;
	left: 0px;
	width: 71px;
	height: 64.98px;
}

#group_ek10 {
	top: 67px;
	left: 527px;
	width: 109px;
	height: 94.98px;
}

#vector_ek32 {
	top: 18px;
	left: 43px;
	width: 7.72px;
	height: 21.86px;
}


#vector_ek33 {
	top: 18px;
	left: 23px;
	width: 7.72px;
	height: 21.86px;
}


#vector_ek34 {
	top: 13px;
	left: 34px;
	width: 7.72px;
	height: 21.86px;
}


#vector_ek35 {
	top: 0px;
	left: 0px;
	width: 109px;
	height: 94.98px;
}

#group_ek11 {
	top: 83px;
	left: 282px;
	width: 90px;
	height: 79.98px;
}

#vector_ek36 {
	top: 15px;
	left: 36px;
	width: 6.38px;
	height: 18.41px;
}


#vector_ek37 {
	top: 15px;
	left: 19px;
	width: 6.38px;
	height: 18.41px;
}


#vector_ek38 {
	top: 11px;
	left: 28px;
	width: 6.38px;
	height: 18.4px;
}


#vector_ek39 {
	top: 0px;
	left: 0px;
	width: 90px;
	height: 79.98px;
}


#small_size {
	top: 160px;
	left: 63px;
	width: 24px;
	height: 24px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#large_size {
	top: 160px;
	left: 532px;
	width: 24px;
	height: 24px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#medium_size {
	top: 160px;
	left: 283px;
	width: 24px;
	height: 24px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#small {
	top: 180px;
	left: 100px;
	width: 73px;
	height: 32px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#large {
	top: 180px;
	left: 570px;
	width: 73px;
	height: 32px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#medium {
	top: 180px;
	left: 320px;
	width: 89px;
	height: 32px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#pizza_type {
	top: 250px;
	left: 63px;
	width: 498px;
	height: 44px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#toppings_type {
	top: 342px;
	left: 357px;
	width: 204px;
	height: 44px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#crust_type {
	top: 342px;
	left: 63px;
	width: 204px;
	height: 44px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#select_your_pizza_here {
	top: 239px;
	left: 73px;
	width: 224px;
	height: 43px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#crust {
	top: 328px;
	left: 70px;
	width: 64px;
	height: 38px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#toppings {
	top: 327px;
	left: 367px;
	width: 184px;
	height: 42px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 20px;
	text-align: left;
	color:#000000;
}


#rectangle_9 {
	top: 0px;
	left: 0px;
	width: 730px;
	height: 496px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}

#checkoutbutton {
	top: 423px;
	left: 63px;
	width: 193px;
	height: 35px;
}

#checkout {
	top: 0px;
	left: 0px;
	width: 156px;
	height: 39px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#check_out {
	top: 0px;
	left: 17px;
	width: 194px;
	height: 41.5px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 25px;
	text-align: left;
	color:#000000;
}


#fort_ek1 {
	top: 5px;
	left: 287px;
	width: 100px;
	height: 30px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color:#000000;
}
#textdelivery{
	top: 15px;
	left: 200px;
	width: 300px;
	height: 30px;
	overflow: visible;
	font-family: Overlock SC;
	font-size: 20px;
	text-align: left;
	color:#000000;
}

#delivery_details {
	top: 209px;
	left: 881px;
	width: 475px;
	height: 572px;
	position: absolute;
	font-family: Overlock SC;
	font-weight: bolder;
	font-size: 30px;
}

#rectangle_10 {
	top: 0px;
	left: 0px;
	width: 472px;
	height: 569px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#line_4 {
	top: 167px;
	left: 56px;
	width: 237.02px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#000000;
}


#name__ {
	top: 72px;
	left: 42px;
	width: 123px;
	height: 64px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#tel__ {
	top: 234px;
	left: 42px;
	width: 105px;
	height: 64px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#address__ {
	top: 178px;
	left: 18px;
	width: 169px;
	height: 64px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#email__ {
	top: 128px;
	left: 42px;
	width: 145px;
	height: 64px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#name_delivery {
	top: 72px;
	left: 198px;
	width: 247px;
	height: 40px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid #000000;
	background:rgba(255,255,255,0);
}


#tel_delivery {
	top: 234px;
	left: 198px;
	width: 247px;
	height: 40px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid #000000;
	background:rgba(255,255,255,0);
}


#address_delivery {
	top: 178px;
	left: 198px;
	width: 247px;
	height: 40px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid #000000;
	background:rgba(255,255,255,0);
}


#email_delivery {
	top: 125px;
	left: 198px;
	width: 247px;
	height: 40px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid #000000;
	background:rgba(255,255,255,0);
}

#order {
	top: 317px;
	left: 55px;
	width: 356px;
	height: 125.69px;
}
#deliverydude {
	top: 0px;
	left: 0px;
	width: 138px;
	height: 125.69px;
}

#vector_ek40 {
	top: 45px;
	left: 41px;
	width: 8.14px;
	height: 7.57px;
}


#vector_ek41 {
	top: 23px;
	left: 107px;
	width: 30.81px;
	height: 21.38px;
}


#vector_ek42 {
	top: 48px;
	left: 96px;
	width: 39.73px;
	height: 78.13px;
}


#vector_ek43 {
	top: 43px;
	left: 74px;
	width: 36.75px;
	height: 34.21px;
}


#vector_ek44 {
	top: 0px;
	left: 0px;
	width: 74.95px;
	height: 104.47px;
}


#submit {
	top: 23px;
	left: 183px;
	width: 175px;
	height: 56px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #000000;
	background:rgba(255,255,255,0);
}

#order_ek1 {
	top: 23px;
	left: 222px;
	width: 145px;
	height: 69px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}

#add{
	top: 342px;
	left: 600px;
	width: 100px;
	height: 30px;
	position: absolute;
	font-size: large;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}
::placeholder {
	color: #000000;
	opacity: 1;
  }

#order_details {
	top: 209px;
	left: 881px;
	width: 475px;
	height: 572px;
}

#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_6 {
	top: 0px;
	left: 0px;
	width: 475px;
	height: 572px;
}


#rectangle_10_ek1 {
	top: 0px;
	left: 0px;
	width: 472px;
	height: 568px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#hotel_menu_list_with_lady_256x256_1 {
	top: 276px;
	left: 150px;
	width: 325px;
	height: 296px;
}


#output {
	opacity: 18;
	top: 449px;
	left: 215px;
	width: 83.03px;
	height: 38.93px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	position: absolute;
	
	-ms-transform:rotate(0.06deg);
	-o-transform:rotate(0.06deg);
	-webkit-transform:rotate(0.06deg);
	-moz-transform:rotate(0.06deg);
	transform:rotate(0.06deg);
	border: 0px solid #4d4747;
	background:rgba(255,255,255,0);
}


#__1989 {
	top: 423px;
	left: 229px;
	width: 89px;
	height: 47px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 20px;
	text-align: left;
	color:#3D3232;
}


#line_4_ek1 {
	top: 167px;
	left: 56px;
	width: 237.02px;
	height: 1px;
	
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	background:#000000;
}


#pizza {
	top: 72px;
	left: 42px;
	width: 105px;
	height: 64px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#amount {
	top: 234px;
	left: 42px;
	width: 105px;
	height: 64px;
	overflow: visible;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}



#crust_ek1 {
	top: 178px;
	left: 42px;
	width: 121px;
	height: 64px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#topping {
	top: 128px;
	left: 42px;
	width: 145px;
	height: 64px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}


#output1 {
	top: 72px;
	left: 198px;
	width: 247px;
	height: 40px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid #000000;
	background:rgba(255,255,255,0);
}


#output4 {
	top: 234px;
	left: 198px;
	width: 247px;
	height: 40px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid #000000;
	background:rgba(255,255,255,0);
}


#output3 {
	top: 178px;
	left: 198px;
	width: 247px;
	height: 40px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid #000000;
	background:rgba(255,255,255,0);
}


#output2 {
	top: 125px;
	left: 198px;
	width: 247px;
	height: 40px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 0.5px solid #000000;
	background:rgba(255,255,255,0);
}


#your_bill {
	top: 381px;
	left: 216px;
	width: 102px;
	height: 49px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	font-style: italic;
	text-align: left;
	color:#4B3939;
}


#order_details_ek1 {
	top: 5px;
	left: 131px;
	width: 296px;
	height: 61px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}
#list {
	top: 5px;
	left: 131px;
	width: 296px;
	position: absolute;
	height: 61px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 36px;
	text-align: left;
	color:#000000;
}

#order_ek2 {
	top: 500px;
	left: 35px;
	width: 96px;
	height: 34px;
}
#id{
	color: #000000;
}
#button {
	top: 0px;
	left: 0px;
	width: 98px;
	height: 36px;
	display: none;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #000000;
	background:rgba(255,255,255,0);
}


#order_ek3 {
	top: 5px;
	left: 20px;
	width: 70px;
	height: 38px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 20px;
	text-align: left;
	color:#000000;
}

#welcome_to_the_fort {
	top: 34px;
	left: 363px;
	width: 786px;
	height: 132px;
}

#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_6_ek1 {
	top: 0px;
	left: 0px;
	width: 786px;
	height: 132px;
}


#rectangle_16 {
	top: 0px;
	left: 0px;
	width: 784px;
	height: 129px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#welcome_to_the_fort_ek1 {
	top: 21px;
	left: 47px;
	width: 745px;
	height: 135px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 64px;
	text-align: left;
	color:#FFFFFF;
}

#desktop___2 {
	top: 1620px;
	left: 0px;
	width: 1440px;
	height: 810px;
}

#berryp_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_2 {
	top: 227px;
	left: 148px;
	width: 1143px;
	height: 511px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_3 {
	top: 74px;
	left: 572px;
	width: 296px;
	height: 110px;
}


#rectangle_24 {
	top: 227px;
	left: 148px;
	width: 1140px;
	height: 509px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #000000;
	background:rgba(255,255,255,0);
}

#menu {
	top: 74px;
	left: 572px;
	width: 296px;
	height: 110px;
}

#rectangle_20_ek1 {
	top: 0px;
	left: 0px;
	width: 294px;
	height: 106px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,0);
}


#menu_ek1 {
	top: 15px;
	left: 7px;
	width: 297px;
	height: 124px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 64px;
	text-align: center;
	color:#FFFFFF;
}


#veggiepizza_1 {
	top: 262px;
	left: 196px;
	width: 180px;
	height: 155px;
}


#margheritapizzawithcheesetopping_1 {
	top: 544px;
	left: 196px;
	width: 180px;
	height: 155px;
}


#bbqchicken_1 {
	top: 544px;
	left: 513px;
	width: 180px;
	height: 155px;
}


#pizzasupreme_1 {
	top: 262px;
	left: 812px;
	width: 180px;
	height: 155px;
}


#ialianpizza_1 {
	top: 544px;
	left: 812px;
	width: 180px;
	height: 155px;
}


#pepperonipizza_1 {
	top: 262px;
	left: 513px;
	width: 180px;
	height: 155px;
}


#bbqchickenbaconpizza_1 {
	top: 262px;
	left: 1061px;
	width: 180px;
	height: 155px;
}


#chickentikkapizza_1 {
	top: 544px;
	left: 1061px;
	width: 180px;
	height: 155px;
}


#_614620d6e9e6e_1 {
	top: 810px;
	left: 0px;
	width: 1440px;
	height: 810px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_1 {
	top: 903px;
	left: 25px;
	width: 1395px;
	height: 641px;
}

#about {
	top: 895px;
	left: 25px;
	width: 1389px;
	height: 641px;
}

#fortress_pizza {
	top: 7px;
	left: 567px;
	width: 246px;
	height: 68px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 30px;
	text-align: left;
	color:#FFFFFF;
}


#line_2 {
	top: 54px;
	left: 397px;
	width: 291.12px;
	height: 22.85px;
	
}


#line_3 {
	top: 54px;
	left: 629px;
	width: 291.12px;
	height: 22.85px;
	
}


#since_1989_the_fortress_pizza_has_been_a_haven_built_to_cater_for_the_delight_and_satisfaction_of_our_customers__the_fortressians___placed_and_pelt_up_with_numerous_arrays_of_pizza_factions__fortress_pizza_makes_sure_you_get_the_eight_slices_of_artistic_gretaness_that_you_fortressian_deserves__fortress_pizza_is_glad_to_bring_you__our_latest_development_the_fortress_pizza_online__where_we_make_it_our_concern_to_ensure_all_fortressians_satisfaction_even_at_the_comfort_of_their_home__enter_the_fort_and_make_your_order_today__sign_up_here_to_get_your_fortressian_id {
	top: 121px;
	left: 62px;
	width: 1246px;
	height: 496px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 30px;
	text-align: center;
	color:#FFFFFF;
}



#arrow_2 {
	top: 560px;
	left: 168px;
	width: 200px;
}


#rectangle_17 {
	top:7px;
	left: 0px;
	width: 1393px;
	height: 640px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}


#pizza_background_1920x1080_spicesncurry_2 {
	top: 0px;
	left: 0px;
	width: 1440px;
}


#fpp_1 {
	top: 80px;
	left: 254px;
	width: 74px;
	height: 48px;
}


#fotress_1 {
	top: 376px;
	left: 7px;
	width: 602px;
	height: 109px;
}


#pizza_chef_smilling_and_happy_vector_png_1 {
	left: 92px;
	width: 276.33px;
	height: 251.19px;
	position: absolute;
    top: 147px;
}

#pizza_ek1 {
	top: 104px;
	left: 261px;
	width: 56.71px;
	height: 38.36px;
}

#vector_ek45 {
	top: 1px;
	left: 6px;
	width: 44.97px;
	height: 29.57px;
}


#vector_ek46 {
	top: 23px;
	left: 18px;
	width: 4.19px;
	height: 3.43px;
}


#vector_ek47 {
	top: 7px;
	left: 14px;
	width: 11.77px;
	height: 10.42px;
}


#vector_ek48 {
	top: 19px;
	left: 31px;
	width: 9.52px;
	height: 7.8px;
}


#vector_ek49 {
	top: 24px;
	left: 0px;
	width: 54.66px;
	height: 12.83px;
}


#vector_ek50 {
	top: 22px;
	left: 33px;
	width: 5.05px;
	height: 4.07px;
}


#vector_ek51 {
	top: 13px;
	left: 18px;
	width: 4.71px;
	height: 2.52px;
}


#vector_ek52 {
	top: 20px;
	left: 9px;
	width: 4.21px;
	height: 3.95px;
}


#vector_ek53 {
	top: 27px;
	left: 4px;
	width: 21.5px;
	height: 7.34px;
}


#vector_ek54 {
	top: 34px;
	left: 27px;
	width: 1.9px;
	height: 1.56px;
}


#vector_ek55 {
	top: 18px;
	left: 13px;
	width: 1.9px;
	height: 1.56px;
}


#vector_ek56 {
	top: 0px;
	left: 0px;
	width: 55.58px;
	height: 37.63px;
}


#vector_ek57 {
	top: 19px;
	left: 30px;
	width: 11.27px;
	height: 9.44px;
}


#vector_ek58 {
	top: 22px;
	left: 17px;
	width: 6.01px;
	height: 5.03px;
}


#vector_ek59 {
	top: 23px;
	left: 12px;
	width: 1.88px;
	height: 1.57px;
}


#vector_ek60 {
	top: 15px;
	left: 35px;
	width: 1.88px;
	height: 1.57px;
}


#vector_ek61 {
	top: 9px;
	left: 28px;
	width: 1.88px;
	height: 1.57px;
}


#hot_and_ready__ {
	top: 522px;
	left: 196px;
	width: 217px;
	height: 58px;
	overflow: hidden;
	font-family: Overlock SC;
	font-size: 30px;
	text-align: left;
	color:#FFFFFF;
}

#menu_ek2 {
	top: 614px;
	left: 14px;
	width: 178px;
	height: 74px;
}

#rectangle_1 {
	top: 0px;
	left: 0px;
	width: 180px;
	height: 76px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	border: 1px solid #dc560b;
	background:rgba(255,129.88,59.5,1);
}


#menu_ek3 {
	top: 4px;
	left: 31px;
	width: 166px;
	height: 61px;
	overflow: hidden;
	font-family: Leelawadee UI;
	font-size: 40px;
	text-align: left;
	color:#FFFFFF;
}

#order_now {
	top: 614px;
	left: 317px;
	width: 286px;
	height: 74px;
}

#rectangle_2 {
	top: 0px;
	left: 0px;
	width: 288px;
	height: 76px;
	position: absolute;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	border: 1px solid #10e365;
	background:rgba(59.5,255,79.05,1);
}


#order_now_ek1 {
	top: 4px;
	left: 43px;
	width: 239px;
	height: 61px;
	overflow: hidden;
	font-family: Leelawadee UI;
	font-size: 40px;
	text-align: left;
	color:#FFFFFF;
}

#rep_1 {
	top: 313px;
	left: 1090px;
	width: 268px;
	height: 269px;
}

#delivery_details{
	display: none;
}

input[type='radio']:after {
	width: 20.5px;
	height: 20px;
	border-radius: 15px;
	top: -0.9px;
	left: -1px;
	position: relative;
	background-color: #A16C2D;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid black;
}

input[type='radio']:checked:after {
	width: 20.5px;
	height: 20px;
	border-radius: 15px;
	top: -0.9px;
	left: -1px;
	position: relative;
	background-color: #ffffff;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
a{
	text-decoration: none;
	color: #ffff;
}
html{
	scroll-behavior: smooth;
}