body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#_bg__desktop___5 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 4050px;
	background:rgba(255,255,255,1);
}

#desktop___4 {
	top: 3240px;
	left: 0px;
	width: 1440px;
	height: 810px;
}

#whitebgpizza_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_7 {
	top: 245px;
	left: 41px;
	width: 412px;
	height: 123px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_8 {
	top: 443px;
	left: 41px;
	width: 592px;
	height: 308px;
}


#line_7 {
	top: 405px;
	left: 30px;
	width: 611.04px;
	height: 1px;
	background:#000000;
}


#rectangle_18 {
	top: 245px;
	left: 41px;
	width: 408px;
	height: 120px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0);
}


#rectangle_20 {
	top: 443px;
	left: 41px;
	width: 589px;
	height: 304px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0);
}

body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px;  margin-left: auto; margin-right: auto;  }

#_bg__desktop___5 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 4050px;
	background:rgba(255,255,255,1);
}

#desktop___4 {
	top: 3240px;
	left: 0px;
	width: 1440px;
	height: 810px;
}

#whitebgpizza_1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_7 {
	top: 245px;
	left: 41px;
	width: 412px;
	height: 123px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_8 {
	top: 443px;
	left: 41px;
	width: 592px;
	height: 308px;
}


#line_7 {
	top: 405px;
	left: 30px;
	width: 611.04px;
	height: 1px;
	background:#000000;
}


#rectangle_18 {
	top: 245px;
	left: 41px;
	width: 408px;
	height: 120px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0);
}


#rectangle_20 {
	top: 443px;
	left: 41px;
	width: 589px;
	height: 304px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-ms-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-o-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	box-shadow:0px 4px 4px 1px rgba(0,0,0,0.5);
	background:rgba(255,255,255,0);
}

#vector_ek15 {
	top: 11px;
	left: 0px;
	width: 30px;
	height: 18.7px;
}


#vector_ek16 {
	top: 18px;
	left: 1px;
	width: 28.15px;
	height: 11.66px;
}


#vector_ek17 {
	top: 18px;
	left: 0px;
	width: 29.28px;
	height: 12.04px;
}

#group_ek4 {
	top: 669px;
	left: 97px;
	width: 30px;
	height: 30px;
}

#vector_ek18 {
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
}

#group_ek5 {
	top: 9px;
	left: 7px;
	width: 17.48px;
	height: 14.2px;
}

#vector_ek19 {
	top: 0px;
	left: 0px;
	width: 17.48px;
	height: 14.2px;
}

#group_ek6 {
	top: 476px;
	left: 250px;
	width: 30.67px;
	height: 33.83px;
}

#vector_ek20 {
	top: 0px;
	left: 0px;
	width: 30.67px;
	height: 33.83px;
}


#help_desk {
	top: 476px;
	left: 341px;
	width: 124px;
	height: 48px;
	overflow: hidden;
	font-family: Poppins;
	font-size: 20px;
	text-align: left;
	color:#000000;
	font-weight: bold;
}


#line_9 {
	top: 515px;
	left: 296px;
	width: 285.02px;
	height: 1px;
	background:#000000;
}

#group_ek7 {
	top: 555px;
	left: 382px;
	width: 18px;
	height: 17.95px;
}
#group_ek8 {
	top: 0px;
	left: 0px;
	width: 18px;
	height: 17.95px;
}

#vector_ek21 {
	top: 4px;
	left: 6px;
	width: 6.73px;
	height: 12.88px;
}


#vector_ek22 {
	top: 0px;
	left: 8px;
	width: 2.91px;
	height: 3.49px;
}


#vector_ek23 {
	top: 14px;
	left: 5px;
	width: 7.85px;
	height: 4.19px;
}


#vector_ek24 {
	top: 15px;
	left: 14px;
	width: 4.47px;
	height: 2.21px;
}


#vector_ek25 {
	top: 15px;
	left: 0px;
	width: 4.47px;
	height: 2.21px;
}

#headquarters___kilimani_area__jabavu_gardens_along_rose_avenue__nairobi__branches___capital_center__mombasa_rd__nairobi__mombasa__nyali_centre_ {
	top: 578px;
	left: 260px;
	width: 278px;
	height: 127px;
	overflow: visible;
	font-family: Barlow;
	font-size: 15px;
	text-align: center;
	color:#000000;
}

#gps {
	top: 618px;
	left: 455px;
	width: 8px;
	height: 13.65px;
}

#vector_ek26 {
	top: 0px;
	left: 0px;
	width: 8px;
	height: 11.95px;
}


#vector_ek27 {
	top: 13px;
	left: 2px;
	width: 3.86px;
	height: 0.78px;
}


#location {
	top: 530px;
	left: 310px;
	width: 166px;
	height: 41.5px;
	overflow: hidden;
	font-family: Barlow;
	font-size: 15px;
	text-align: center;
	color:#000000;
	font-weight: bold;
}


#vickie_shiraa_2021 {
	top: 764px;
	left: 650px;
	width: 144px;
	height: 55.5px;
	overflow: hidden;
	font-family: Barlow;
	font-size: 15px;
	text-align: center;
	color:#000000;
}

#desktop___3 {
	top: 2430px;
	left: -1px;
	width: 1440px;
	height: 810px;
}
#fort {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}

#pizzabg_3 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 810px;
}


#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_5 {
	top: 209px;
	left: 881px;
	width: 475px;
	height: 572px;
}

#fort_input_ {
	top: 209px;
	left: 69px;
	width: 733px;
	height: 500px;
}

#_176_1762300_bamboo_cutting_board_texture_picture_high_resolution_cutting_5_ek1 {
	top: 0px;
	left: 0px;
	width: 733px;
	height: 500px;
}


#line_6 {
	top: 27px;
	left: 301px;
	width: 106.5px;
	height: 20.74px;
}


#line_5 {
	top: 27px;
	left: 212px;
	width: 106.5px;
	height: 20.74px;
}

#group_ek9 {
	top: 97px;
	left: 63px;
	width: 71px;
	height: 64.98px;
}

#vector_ek28 {
	top: 12px;
	left: 28px;
	width: 5.03px;
	height: 14.95px;
}


#vector_ek29 {
	top: 12px;
	left: 15px;
	width: 5.03px;
	height: 14.95px;
}


#vector_ek30 {
	top: 9px;
	left: 22px;
	width: 5.03px;
	height: 14.95px;
}


#vector_ek31 {
	top: 0px;
	left: 0px;
	width: 71px;
	height: 64.98px;
}

#group_ek10 {
	top: 67px;
	left: 527px;
	width: 109px;
	height: 94.98px;
}

#vector_ek32 {
	top: 18px;
	left: 43px;
	width: 7.72px;
	height: 21.86px;
}


#vector_ek33 {
	top: 18px;
	left: 23px;
	width: 7.72px;
	height: 21.86px;
}


#vector_ek34 {
	top: 13px;
	left: 34px;
	width: 7.72px;
	height: 21.86px;
}


#vector_ek35 {
	top: 0px;
	left: 0px;
	width: 109px;
	height: 94.98px;
}

#group_ek11 {
	top: 83px;
	left: 282px;
	width: 90px;
	height: 79.98px;
}

#vector_ek36 {
	top: 15px;
	left: 36px;
	width: 6.38px;
	height: 18.41px;
}


#vector_ek37 {
	top: 15px;
	left: 19px;
	width: 6.38px;
	height: 18.41px;
}


#vector_ek38 {
	top: 11px;
	left: 28px;
	width: 6.38px;
	height: 18.4px;
}


#vector_ek39 {
	top: 0px;
	left: 0px;
	width: 90px;
	height: 79.98px;
}


#small_size {
	top: 160px;
	left: 63px;
	width: 24px;
	height: 24px;
	position: absolute;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	background:rgba(255,255,255,0);
}

